.container{
    text-align: center;
    background-color: blanchedalmond; 
    border: 5px solid #333;  
    padding: 12px;
    border-radius: 10px;
    
}
.picture{
    width: 350px;
    height: auto;
    border-radius: 200px;
}
.section{
    display: flex;
    text-align: left;
    font-size: 40px;
    width: 350;
    height: auto;
    border-radius: 300px;
 
}
.btn{
    display: flex;
    padding: 10px;
    width: 100px;
    background-color: white;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 5px;
    font-size: 20px;
}
.btn{
    background-color: blue;
}
.picture2{
    text-align: center;
}